<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav>
            <div class="userpic">
                <img src="/image/scai.jpg" alt="userPic" style="height: 100%">
            </div>
            <div class="userdetail">
                <h1>{{name}}</h1>
                <span>Software Engineer
                    <br>Web Designer
                </span>

            </div>
            <div class="work">
                <ion-icon name="laptop-outline"></ion-icon>
            </div>
            <div class="link">
                <ion-icon name="link-outline"></ion-icon>
            </div>
            <div class="contact">
                <ion-icon name="mail-open-outline"></ion-icon>
            </div>
        </nav>
    </div>

    <div class="introduction">
        <h1>Hi!</h1>
        <p>{{introduction}}</p>
    </div>
    <div class="exp">
        <div class="title">
            <h1><ion-icon name="document-text-outline"></ion-icon>Employment</h1>
        </div>
        <div class="work_exp">
            <img src="/image/solari.png" style="margin:0px 10px 0px 10px; height:35px">
            <h1>SolariCorp - Software Engineer</h1>
        </div>
        <p>July 2017 - Current</p>
            <ul class="details">
                <li>{{detail1}}</li>
                <li>{{detail2}}</li>
                <li>{{detail3}}</li>
            </ul>
    </div>
    <div class="edu">
        <div class="title">
            <h1><ion-icon name="school-outline"></ion-icon> Education</h1>
            <div class="stjohns">
                <img src="/image/sjlogo.png" style="height: 35px; margin:0px 10px 0px 10px">
                <h2>St.John's University</h2>
            </div>
            <p>Sept. 2015 - May 2019</p>
            <ul class="project">
                <li>Computer Science - Bachlor's Degree</li>
            </ul>
            
        </div>
    </div>

    


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>